.pdf-card {
    background-color: #fff8f8;
    border-radius: 5px;
    margin: 1px;
    user-select: none;
}

.pdf-card.is-dragging {
    background-color: #cec8c8;
}

.pdf-card-pdf-icon {
    color: #f40f02;
    min-width: 46px;
}

.pdf-card-text {
    max-width: 300px;
}

.pdf-card-delete-icon {
    color: #f40f02;
    padding: 0;
}
